#b, #e {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 10px;
	right: 10px;
}


#el {
		position: absolute;
		top :0px;
		height: 40%;
		left: 0;
		width: 300px;
}

#emsml {
	/*position: absolute;
	left:0px;
	top:30%;
	bottom: 0px;
	width: 270px;
	overflow-y: auto; 
	padding-right: 15px;*/


		position: absolute;
		bottom :0px;
		height: 60%;
		left: 0;
		width: 300px;
}


#ems {
	position: absolute;
	top:0px;
	height: 66px;
	width: 300px;
	/*padding-right: 15px;*/
	/*background-color: rgba(100,150,202,0.5)*/
}
#eml{
	position: absolute;
	top:69px;
	bottom: 0px;
	width: 280px;
	overflow-y: auto; 
	/*padding-right: 15px;*/
	/*background-color: rgba(100,150,202,0.5)*/
}

#emm {
	position: absolute;
	left: 310px;
	top:0px;
	bottom: 0px;
	right:0px;
	overflow-y: scroll;
	padding-right: 15px;
	/*background-color: rgba(150,50,202,0.5)*/
}

#bel {
		/*background-color: rgba(50,100,150,0.25);*/
		position: absolute;
		top :0px;
		bottom: 0px;
		left: 0;
		width: 300px;
    overflow: auto;
}
#bml {
		/*background-color: rgba(100,150,50,0.25);*/
		position: absolute;
		top :0;
		bottom: 0;
		left: 300px;
		width: 400px;
    overflow: auto;
}
#bms {
		/*background-color: rgba(150,50,100,0.25);*/
		position: absolute;
		top :0;
		bottom: 0;
		left: 700px;
		right: 0;
    overflow: auto;
}

.block-header {
	padding-left:10px; 
	padding-right:10px; 
	/*61*/
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.block-padding {
	padding-left:10px; 
	padding-right:10px; 
}
.block-list {
	position: absolute;
	top:61px;
	top:35px;
	left:0;
	bottom: 0;
	right: 0;
	padding:0 10px 10px; 
    overflow-y: auto;
    overflow-x: hidden;
}
.batle-encounter {
	/*border: 1px dashed rgba(48,120,159,0.33);*/
	/*border: 1px dashed rgb(200,200,200);*/
	padding: 5px 7px ;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 90%;
	position: relative;
}
.batle-encounter.selected{
	/*border: 1px solid rgba(48,120,159,0.75);*/
	border: 1px solid rgb(200,200,200);
	padding: 4px 6px ;
}

.batle-encounter-name {
	/*font-family: ClinicaPro;*/
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.batle-encounter-composition {
	font-size: 0.70em;
	
}
.batle-encounter-composition tbody {
	vertical-align: top;	
}

.batle-encounter-monster {
	background: -moz-linear-gradient(left,  rgba(169,3,41,0.13) 0%, rgba(154,2,37,0) 25%, rgba(109,0,25,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(169,3,41,0.13) 0%,rgba(154,2,37,0) 25%,rgba(109,0,25,0) 100%);
	background: linear-gradient(to right,  rgba(169,3,41,0.13) 0%,rgba(154,2,37,0) 25%,rgba(109,0,25,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21a90329', endColorstr='#006d0019',GradientType=1 );

}
.batle-encounter-hero {
	background: -moz-linear-gradient(left,  rgba(0,110,46,0.13) 0%, rgba(0,110,46,0) 25%, rgba(0,110,46,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,110,46,0.13) 0%,rgba(0,110,46,0) 25%,rgba(0,110,46,0) 100%);
	background: linear-gradient(to right,  rgba(0,110,46,0.13) 0%,rgba(0,110,46,0) 25%,rgba(0,110,46,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21006e2e', endColorstr='#00006e2e',GradientType=1 );
}
/*.batle-encounter-name.name-current-turn:before{
	content:'▶▶ ';
    line-height: 50%;
    vertical-align: top;
    font-size: x-large;
}*/

.batle-encounter.div-current-turn{
	margin-left: 5%;
}

.hoverButtons {
	display: none;
	position: absolute;
	font-size: small;
    line-height: 1.2em;
}
.withHoverButtons:hover .hoverButtons {
	display: block;
}
.hoverButtons-topRight {
	top:5px;
	right: 5px;
}
.withHoverButtons.selected .hoverButtons-topRight {
	top:4px;
	right: 4px;	
}
.hoverButton-upDown {
	width: 0.75em;
	text-align: center;
}